.left-bg {
  text-align: left;
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.p-header{padding-left: 20%;}

.text-small{
  font-size:2rem;
  color:#222;  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.left-bg .col .-txt {
  display: flex;
  text-align: left;
}

.left-bg .block-txt {
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
 
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
}

.left-bg .wrapper {
  display: flex;
}

.left-bg .wrapper .static-txt {

  font-size: 3rem;
  font-weight: 600;
}
.left-bg .dynamic-txts {
  display: block;
  
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.left-bg .dynamic-txts li {
  text-align: left;
  list-style: none;
  color: #ff9301;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;

  top: 0;
  animation: slide 10s steps(48) infinite;
  -webkit-animation: slide 10s steps(48) infinite;
}
/* 
.left-bg .dynamic-txts li::after {
  color: #ff9301;
  content: " ";
  position: absolute;
  left: 0;

  height: 100%;
  width: 100%;
  
  animation: typing 4s steps(13) infinite;
  -webkit-animation: typing 4s steps(13) infinite;
} */
.col {
  column-count: 1;
}

 .static-txt {

  font-size: 3rem;
  font-weight: 600;

}
@keyframes slide {
 0%{
  transform: translate(0px, 45px);
 }2%{
  transform: translate(0px, -25px);
 }33%{transform: translate(0px, -25px);}
35%{transform: translate(0px, -145px);}
66%{transform: translate(0px, -145px);}
70%{transform: translate(0px, -270px);}
95%{transform: translate(0px, -270px);}

100% {transform: translate(0px, -290px);
   
  }
}
.content{
 display: flex;
 height: 100%;
 text-align: left;

 align-items: center;
}
.navbar{
  position: absolute;
  width: 80%;
  top:0;
  font-size: small;
  padding: 5px 10%;
  display: flex;
  justify-content:space-evenly;
}

.img-profile-content{
  width: 100%;
  min-height: 50vh;
}
@media only screen and (max-device-width: 900px) {
 .img-profile{
   opacity:0.5;
   z-index: -1;
   order: 0;
   position: relative;
   min-height: 100vh;
  

   width: 100vw;
   overflow: hidden;
 }.left-bg{position: absolute;
  top:100px;
   height: 100vh;
 }
 .content-header{
   top:0;
   z-index: 1;
   order: 1;
   position: absolute;
   height: 100%;
background:none;
   width: 100%;

 }   .img-profile-content{
   min-width:450px ;
   
    min-height: 100vh;
  width: 100vw;
}.p-header{padding-left: 10%;}
}
@media only screen and (max-device-width: 500px) {
  .navbar{
    display: none;

}
}
.btn{
  background-color: #ff9301;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: all 200ms ease;
  cursor: pointer;
  box-shadow: 0 4px 20px 0 rgba(82, 79, 61, 0.1), 0 0 0 0 rgba(255, 208, 0, 0);
  border: none;

  
}
.btn:hover {
  color: #ff7c01;
  background: none;
}

.btn:active {color: #a85f00;
  background: none;
}

.btn-header{
  margin: 5%;
}