.logoStyle {
    font-size: 40px;
    width: 100%;
    height: 80px;
    background-color: #ff9301;
    color: #fff;
    text-align: center;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionStyle2 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.itemIcon {
    font-size: large;
   
 color: #000;
    text-align: center;
    margin: auto;
}

.borderForIcon:hover .itemIcon,.itemIcon:hover {
    cursor: pointer;
   color: #ff9301;
}

.borderForIcon {
    border-bottom: 1px solid #999;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30% 0;
}
