.sidebarStyle {
  position: fixed;
  display: block;
  height: 100%;
  width: 80px;
  background: #fff;
  border-right: 1px solid #ddd;
}
.mainStyle {
  position: absolute;
  display: block;
  left: 80px;
}

@media only screen and (max-width: 750px) {
  .sidebarStyle {
    display: none;
  }
  .mainStyle {
    display: block;
    left: 0px;
    width: 100%;
  }
}
.toggler-menu {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    padding: 0;
    background: #ff9301;
    border: none;
    cursor: pointer;
    margin-left: auto;
}.toggler-menu span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    background: #fff;
    color: #fff;
}
 /* .sidebarStyle {
    display: block;
    z-index: 9999;
  } */